<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Hubstaff Gem Tutorial</a>
      <button type="button" class="btn btn-success navbar-btn">Connect to Hubstaff</button>
    </div>

  </div>
</nav>

<div class="welcome jumbotron">
  <h1>Welcome to the Hubstaff Gem Tutorial</h1>
  <p>This tutorial will demonstrate how to integrate the Hubstaff Gem into your Rails application <br>to easily retrieve information from the Hubstaff API.</p>
</div>
