<div class="welcome jumbotron">
  <h1>Welcome to the Hubstaff Gem Tutorial</h1>
  <p>This tutorial will demonstrate how to integrate the Hubstaff Gem into your Rails application <br>to easily retrieve information from the Hubstaff API.</p>
</div>
